{
  "packages": [
    {
      "name": "tildepot",
      "scope": "!.*-bundle",
      "buildCommand": "make build VERSION=${RELEASE_VERSION}",
      "assets": [
        "dist/tildepot"
      ]
    }
  ]
}
