{
  "packages": [
    {
      "name": "tildepot",
      "scopeFilter": "!.*-bundle",
      "buildCommand": "make build VERSION=${version}",
      "assets": [
        "dist/tildepot"
      ]
    }
  ]
}
